[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.9"
sqlparse = "==0.4.4"
typing-extensions = "==4.9.0"
tzdata = "==2023.4"
djangorestframework-simplejwt = "==4.7.2"
djangorestframework = "==3.14.0"
flake8 = "*"
pip = "*"
install = "*"
flake8-html = "*"

[dev-packages]

[requires]
python_version = "3.9"
